{
  "presets": ["next/babel"],
  "env": {
    "test": {
      "presets":[
        ["es2015"],
        "react",
        "stage-0"
      ]
    },
    "development": {
      "plugins": [
        ["transform-assets-import-to-string", {
          "baseDir": "/static",
          "extensions": [".jpg", ".png", ".mp4", ".css", ".gif"]
        }]
      ]
    },
    "production": {
      "plugins": [
        ["transform-assets-import-to-string", {
          "baseDir": "/static",
          "baseUri": "https://assets.dennyku.com/hahow",
          "extensions": [".jpg", ".png", ".mp4", ".css", ".gif"]
        }]
      ]
    }
  }
}